
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>MARGE-BART Website</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ url_for('static', filename='sticky-footer-navbar.css') }}" rel="stylesheet">

  </head>

  <body class="bg-light">
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">TF Binding</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="http://127.0.0.1:5000/">Home</a>
            </li>
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Start Prediction<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Results<span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="http://faculty.virginia.edu/zanglab/">Zanglab</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            -->
          </ul>
          <!--
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          -->
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">Welcome on board!</h1>
      <p class="lead">We combine these two tools: <a href="http://cistrome.org/MARGE/index.html">MARGE</a> and <a href="http://faculty.virginia.edu/zanglab/bart/">BART</a>
        as a pipeline to find TF binding points easily!</p>
      <p>Below is the picture of how MARGE and BART works to do the prediction related to genes. 
        In order to predict your own data, you need to do some configuration. 
        In order to retrieve your result, you need to input your unique key which you pasted into somewhere before. </p>
      <img class="mx-auto mb-4" src="{{ url_for('static', filename='how_marge_bart_works.png') }}" alt="" width="800">


      <hr class="mb-3">
      <div class="row">
        <div class="col-md-12 order-md-1">
          <form method=post>
            <div class="row">
              <div class="col-md-6 mb-3">
                <button class="btn btn-primary btn-lg btn-block" type="submit" name="index_submit" value="predict_data">Predict Your Own Data</button>
              </div>
              <div class="col-md-6 mb-3">
                <button id="retrieve_result" class="btn btn-primary btn-lg btn-block" type="submit" name="index_submit" onclick="pop_up_func()">Retrieve Result</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2018 Chongzhi Zang Lab at the University of Virginia</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <!-- <script src="../../assets/js/vendor/popper.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='holder.min.js') }}"></script>
    
    <script type="text/javascript">
      function pop_up_func() {
          var btn = document.getElementById('retrieve_result');
          var txt;
          var key = prompt("Please enter the key you saved before:", "");
          if (key == null || key == "") {
              alert("You need to enter your key.");
          } else {
              btn.value = key;
          }
      }
    </script>
    
  </body>
</html>
