
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BART web</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='bart_icon.png') }}">

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- First-time use -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs-rtl.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs-rtl.min.css" rel="stylesheet"> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='sticky-footer-navbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='tooltip.css') }}" rel="stylesheet">
  </head>

  <body class="bg-light">
  
    {% include "header.html" %}

    <!-- Begin page content -->
    <div class="container">
      <!-- <p class="lead">We combine these two tools: <a href="http://cistrome.org/MARGE/index.html">MARGE</a> and <a href="http://faculty.virginia.edu/zanglab/bart/">BART</a>
        as a pipeline to find functional TF binding easily!</p> -->
      <!-- <p>It is a powerful tool which could help you find the essence of gene! Hooray! </p> -->
      <!-- <img class="mx-auto mb-4" src="{{ url_for('static', filename='how_marge_bart_works.png') }}" alt="" width="800"> -->
      <div class="row">
        <div class="col-md-12 order-md-1">
          <!-- <h1>Sorry for the inconvenience, we are currently under service maintenance. Please try it later.</h1>
          <br> -->

          <h2 >BART</h2>
          <h5 ><u>B</u>inding <u>A</u>nalysis for <u>R</u>egulation of <u>T</u>ranscription</h5>
          <p>This web server is to perform BART, a bioinformatics tool for predicting functional factors (including transcription factors and chromatin regulators) that bind at cis-regulatory regions to regulate gene expression in the human or mouse genomes, taking a query gene list or a ChIP-seq dataset as input.</p>
          <p>The current version is BART 1.0, which uses 3,485 human ChIP-seq datasets and 3,055 mouse ChIP-seq datasets from the public domain (collected in Cistrome Data Browser) to make the prediction.</p>
          <img class="mb-3" src="{{ url_for('static', filename='bart_web.png') }}" alt="" width="600">
        </div>
      </div>

      <hr class="mb-3">

      <div class="row">
        <div class="col-md-4 order-md-1">
          <form method=post enctype=multipart/form-data id="resultForm" novalidate>
            <h4 style="display:inline-block; vertical-align: middle;">Run BART here</span></h4>
            <button id="get_result" class="btn btn-link" type="submit" name="result_button" onclick="pop_up_func()">get result here</button>
          </form>
        </div>

        <div class="col-md-8 order-md-1">
            <button class="btn btn-link" href="javascript:void(0);" onclick="javascript:introJs().start();">Show me how to use</button>
        </div>
      </div>
      
      <div class="row">
          <div class="col-md-12 order-md-1">
          <!-- result Modal -->
          <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Please input your key.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <input type="text" id="resultKey" class="form-control">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" onclick=validate_key() >Get result</button>
                  </div>
                </div>
              </div>
            </div>
          
          <form class="needs-validation" method=post enctype=multipart/form-data novalidate>
            <div class="row">
              <div class="col-md-2 mb-3">
                <p class="mb-3" id="assembly" ><b>Species:</b></p>
              </div>
              <div class="col-md-10 mb-3" data-step="1" data-intro="Choose your species first.">
                <div class="custom-control custom-radio">
                  <input id="human" name="species" value="hg38" type="radio" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="human">Human (hg38)</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="mouse" name="species" value="mm10" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="mouse">Mouse (mm10)</label>
                </div>
              </div>
            </div>

            <!-- Choose Data Type: Genelist/ChIP-seq -->
            <div class="row">
              <div class="col-md-2 mb-3">
                <p class="mb-3" id="assembly"><b>Input data type:</b></p>
              </div>
              <div class="col-md-10 mb-3" data-step="2" data-intro="And choose the data type you are going to upload.">
                <div class="custom-control custom-radio">
                  <input type="radio" id="genelist" name="dataType" value="Geneset" class="custom-control-input" checked required>
                  <label class="custom-control-label" for="genelist">Genelist <img src="{{ url_for('static', filename='question-mark.svg') }}" style="width:16px; vertical-align:middle" title="Genelist better contains more than 100 genes."/> </label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="ChIP-seq" name="dataType" value="ChIP-seq" class="custom-control-input" required>
                  <label class="custom-control-label" for="ChIP-seq">ChIP-seq data <img src="{{ url_for('static', filename='question-mark.svg') }}" style="width:16px; vertical-align:middle" title="ChIP-seq mapping reads"/></label>
                </div>
              </div>
            </div>

            <!-- Input Data: Genelist/ChIP-seq -->
            <div class="row">
              <div class="col-md-2">
                <p class="mb-3" id="assembly"><b>Input:</b></p>
              </div>
              <div class="col-md-10" data-step="3" data-intro="Upload your data here!">
                <div class="row" >
                  <div class="col-md-2">
                    <div id="geneFileRadio" class="custom-control custom-radio">
                      <input type="radio" id="geneFile" name="geneType" value="geneFile" class="custom-control-input" checked required>
                      <label class="custom-control-label" for="geneFile">Upload: </label>
                    </div>
                    <p id="ChIPFile" hidden>Upload: </p>
                  </div>
                  <div class="col-md-10">
                    <input id="uploadFiles" name="uploadFiles" type="file" accept=".txt" required> <!-- not for multiple, only allow one file -->

                    <p id="geneFileType">Genelist must be <b>official gene symbol</b> in .txt format (each name in a row). More than 100 genes is recommended.</p>
                    <p id="chipFileType" hidden>ChIP-seq must be <b>mapped reads data files</b> in .bed/.bam format in the corresponding genome assembly.</p>
                  </div>
                </div>

                <div id="geneDataRadio" class="row mb-3">
                  <div class="col-md-2">
                    <div  class="custom-control custom-radio">
                      <input type="radio" id="geneData" name="geneType" value="geneData" class="custom-control-input" required>
                      <label class="custom-control-label" for="geneData">Paste:</label>
                    </div>
                  </div>
                  <div class="col-md-10">
                    <textarea id="uploadList" name="uploadList" class="form-control" rows="5" disabled required></textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 mb-3">
                <p><b>Job name:</b><br /><span class="text-muted">(Optional)</span></p>
              </div>
              <div class="col-md-10 mb-3">
                <input type="text" class="form-control" id="jobname" name="jobname" placeholder="job1">
              </div>
            </div>

            <div class="row">
              <div class="col-md-2 mb-3">
                <p><b>E-mail:</b><br /><span class="text-muted">(Optional)</span></p>
              </div>
              <div class="col-md-10 mb-3">
                <input type="email" class="form-control" id="username" name="username" placeholder="name@domain.com">
                <div class="invalid-feedback" style="width: 100%;">
                    Your e-mail is incorrect.
                </div>
              </div>
            </div>

            <hr class="mb-3">

            <div class="row">
              <div class="col-md-2 mb-3">
              </div>
              <div class="col-md-2 mb-3">
                <button data-step="4" data-intro="Let's submit!" data-disable-interaction="1" class="btn btn-primary btn-lg btn-block btn-sm" type="submit" name="submit_button" value="predict_data">Submit</button>
              </div>
              <div class="col-md-2 mb-3">
                <button id="reset" class="btn btn-secondary btn-lg btn-block btn-sm" type="button" name="reset" value="reset" onClick="window.location.reload()">Reset</button>
              </div>
              <div class="col-md-6 mb-3">
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    {% include "footer.html" %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <!-- <script src="../../assets/js/vendor/popper.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='holder.min.js') }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js"></script>

    
    <script type="text/javascript">
      function pop_up_func() {
          // $("#myModal").modal();
          var btn = document.getElementById('get_result');
          var key = prompt("Please enter the key.", "");
          if (key == "") {
              alert("You need to enter your key.");
          }
          else if (key == null){

          } 
          else {
              btn.value = key;
          }
      }
    </script>

    <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();

                if (document.getElementById('geneFile').checked) { 
                  var fileElement = document.getElementById('uploadFiles');
                  console.log(fileElement.value);
                  if ( fileElement.value == "") {
                    alert('Please upload your genelist file.');
                  } 
                }
                if (document.getElementById('ChIP-seq').checked && document.getElementById('uploadFiles').value == "") {
                  alert('Please upload your ChIP-seq reads file.');
                }
              } else {
                form.classList.add('was-validated');

                // check user uploaded gene counts in file
                if (document.getElementById('geneFile').checked) { 
                  var fileElement = document.getElementById('uploadFiles');
                  console.log(fileElement.value);
                  if ( fileElement.value == "") {
                    alert('Please upload your genelist file.');
                  } else {
                    var fileObject = fileElement.files[0];
                    var reader = new FileReader();
                    reader.onload = function() {
                      var fileLength = reader.result.split("\n").length;
                      if (fileLength < 100) {
                        if (!confirm("The uploaded gene list contains less than 100 genes. This may cause error or the result may not be optimal. Would you like to continue?")) {
                          event.preventDefault();
                          event.stopPropagation();
                        }
                      }
                    };
                    reader.readAsText(fileObject);
                  }
                }
                
                // check user uploaded gene counts in textarea
                if (document.getElementById('geneData').checked) { 
                  var dataElement = document.getElementById('uploadList');
                  if ( dataElement.value != "") {
                    var dataLength = dataElement.value.split("\n").length;
                    if (dataLength < 100) {
                      if (!confirm("The uploaded gene list contains less than 100 genes. This may cause error or the result may not be optimal. Would you like to continue?")) {
                        event.preventDefault();
                        event.stopPropagation();
                      }
                    }
                  }
                }

              }
            }, false);
          });
        }, false);
      })();
    </script>

    <script>
    // datatype genelist/ChIP-seq
    $('input[type=radio][name=dataType]').on('change', function() {
      var n = $(this).val();
      // console.log(n);
      switch(n)
      {
        case 'ChIP-seq':
          $('#geneDataRadio').prop("hidden", true);
          $('#geneFileRadio').prop("hidden", true);
          $('#ChIPFile').removeAttr('hidden');

          // related to upload file type
          $('#geneFileType').prop("hidden", true);
          $('#chipFileType').removeAttr('hidden');

          // enable upload files if diabled due to geneFile choice
          $('#uploadFiles').prop('disabled', false);
          $('#uploadFiles').attr("accept", ".bam,.bed");

          $('#uploadList').prop('disabled', true);
          $('#uploadList').css('background-color' , '#e9ecef');

          // clear genelist data
          $('#uploadFiles').val('');
          $('#uploadList').val('');
          break;
        case 'Geneset':
          $('#geneDataRadio').removeAttr('hidden');
          $('#geneFileRadio').removeAttr('hidden');
          $('#ChIPFile').prop("hidden", true);

          // related to upload file type
          $('#geneFileType').removeAttr('hidden');
          $('#chipFileType').prop("hidden", true);

          // change back following input data choices
          $('input:radio[name=geneType]')[0].checked = true;
          $('#uploadFiles').prop('disabled', false);
          $('#uploadFiles').attr("accept", ".txt");

          $('#uploadList').prop('disabled', true);
          $('#uploadList').css('background-color' , '#e9ecef');

          // clear ChIP-seq data
          $('#uploadFiles').val('');
          break;
      }
    });
    </script>

    <script>
    // genelist file/textarea
    $('input[name=geneType]').on('change', function() {
      var n = $(this).val();
      // console.log(n);
      switch(n)
      {
        case 'geneData':
          $('#uploadFiles').prop('disabled', true);
          $('#uploadFiles').val('');
          $('#uploadList').prop('disabled', false);
          $('#uploadList').css('background-color' , '#FFFFFF');
          break;
        case 'geneFile':
          $('#uploadFiles').prop('disabled', false);
          $('#uploadList').val('');
          $('#uploadList').prop('disabled', true);
          $('#uploadList').css('background-color' , '#e9ecef');
          break;
      }
    });
    </script>

  </body>
</html>
