
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>BART Web</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body class="bg-light">
  {% include "header.html" %}
    <!-- Begin page content -->
    <main role="main" class="container">
      <h3 class="mt-5">Your Prediction has started.</h3>
      <div class="row">
        <div class="col-md-12 order-md-1">
          <p class="lead">If you did not write your e-mail or your e-mail was incorrect. Please press the "Copy Key" button and paste it somewhere.</p>
          <div class="row">
            <div class="col-md-8 mb-3">
              <input class="form-control" type="text" id="user_key_demostration" name="user_key_demostration" value={{key}} readonly>
            </div>
            
            <div class="col-md-4 mb-3">
              <button class="btn btn-primary btn-lg btn-block" onclick="copy_func()">Copy Key</button>
            </div>
          </div>
        </div>
      </div>

      <div class="py-5 text-center">
        <a href="/">Go back to main page.</a>
      </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2017-2018 Chongzhi Zang Lab at the University of Virginia</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <!-- <script src="../../assets/js/vendor/popper.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='holder.min.js') }}"></script>

    <script type="text/javascript">
      function copy_func() {
          /* Get the text field */
          var copyText = document.getElementById("user_key_demostration");
          /* Select the text field */
          copyText.select();
          /* Copy the text inside the text field */
          document.execCommand("copy");
          /* Alert the copied text */
          alert("Copied the text: " + copyText.value);
      }
    
    
    </script>
  </body>
</html>
