<!DOCTYPE html>
<html>
<body>

<h1>CIS-express</h1>

<title>Upload Your File</title>
    <h3>Choose your assembly</h2>
    <select>
      <option value="hg38">hg38</option>
      <option value="hg19">hg19</option>
      <option value="mm10">mm10</option>
      <option value="mm9">mm9</option>
    </select>

    <h3>Choose your assembly</h2>



    <h3>Upload your file</h2>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value=Upload>
    </form>

</body>
</html> 